**.aux
**.bbl
**.blg
**.idx
**.log
**.toc
**.upa
**.upb
**.gz
src/.ipynb_checkpoints/**
**.swp
**~
**.out
**.fls
**.ind
**.ilg
**_latexmk
**.tdo
**.mp4
**.osp
**.run.xml
**blx.bib
ccs-template.pdf
!Images/*.pdf
!OldDocuments/*.pdf
!sciendo-logo.pdf
!by-nc-nd.pdf
/tmp/
*.pdf
*.ods#
venv
/env
.project
.texlipse
build
**.pyc
**.ipynb
.vscode
.setting
